/*
 /$$$$$$$  /$$   /$$               /$$                          
| $$__  $$|__/  | $$              | $$                          
| $$  \ $$ /$$ /$$$$$$    /$$$$$$$| $$$$$$$   /$$$$$$   /$$$$$$$
| $$$$$$$ | $$|_  $$_/   /$$_____/| $$__  $$ /$$__  $$ /$$_____/
| $$__  $$| $$  | $$    | $$      | $$  \ $$| $$$$$$$$|  $$$$$$ 
| $$  \ $$| $$  | $$ /$$| $$      | $$  | $$| $$_____/ \____  $$
| $$$$$$$/| $$  |  $$$$/|  $$$$$$$| $$  | $$|  $$$$$$$ /$$$$$$$/
|_______/ |__/   \___/   \_______/|__/  |__/ \_______/|_______/ 
                                                                
 /$$               /$$       /$$ /$$                       /$$$$$$
| $$              | $$      |__/| $$                      |_  $$_/
| $$$$$$$         | $$       /$$| $$   /$$  /$$$$$$         | $$  
| $$__  $$ /$$$$$$| $$      | $$| $$  /$$/ /$$__  $$        | $$  
| $$  \ $$|______/| $$      | $$| $$$$$$/ | $$$$$$$$        | $$  
| $$  | $$        | $$      | $$| $$_  $$ | $$_____/        | $$  
| $$$$$$$/        | $$$$$$$$| $$| $$ \  $$|  $$$$$$$       /$$$$$$
|_______/         |________/|__/|__/  \__/ \_______/      |______/
                                                                                                                              
                                                                  
for cloaque.org
Author: Miyö Van Stenis
http://miyovanstenis.com
@miyovansteniss                                                                 
*/

body {
	position:absolute;
	width:100%;
	height:100% ;
	margin-left: 25%;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color:#ffc091;
  background: rgb(255,199,183);
background: -moz-linear-gradient(180deg, rgba(255,199,183,1) 0%, rgba(255,220,196,1) 50%, rgba(227,152,185,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(255,199,183,1) 0%, rgba(255,220,196,1) 50%, rgba(227,152,185,1) 100%);
background: linear-gradient(180deg, rgba(255,199,183,1) 0%, rgba(255,220,196,1) 50%, rgba(227,152,185,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc7b7",endColorstr="#e398b9",GradientType=1); 

}

