* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color:#e6fbf7;
}

body {
  overflow: hidden;
 
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#menu {
  text-align: center;
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

button {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 5px;
  padding-left: 25px;
  border: 0;
  display: inline-block;
  background-image: url(img/bt.png);
   z-index: 99;
}

#action {
  background: #b2fff1;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.2em;
}

#export {
  background: #feb2ff;
   color: #fff;
  font-size: 1.2em;
  line-height: 1.2em
}

#action:before, #export:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7px;
  margin: auto;
  width: 0;
  height: 0;
  
}

#export:before {
  border-left: 8px solid transparent;
  border-top: 10px solid #fff;
  top: 9px;
  left: 6px;
  margin: auto;
}

#file {
  position: absolute;
  bottom: 7em;
  z-index: 999;
  background-color: #fff;
  padding: 0.5em;
  border-radius: 5px;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 213px;
}

.callout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 200px;
  margin: auto;
  font-family: sans-serif;
  font-size: 60%;
  text-align: center;
  background: #bd00ff;
  box-shadow: 0 0 3px 0 #000;
  padding: 5px 0;
  border-radius: 0 0 30px 30px;
}

.CodeMirror {
  padding: 1em;
  font-size: 1.2em;
  line-height: 1.6em;
}

.cm-s-monokai span.cm-comment {
  color: #00f9ff;
}

.cm-s-monokai .CodeMirror-gutters, .cm-s-monokai.CodeMirror {
  background: transparent;
}

.cm-s-monokai span.cm-variable {
  color: #f000ff;
}

.cm-s-monokai span.cm-property, .cm-s-monokai span.cm-attribute {
  color: #6A9BB8;
}

.cm-s-monokai span.cm-operator {
  color: #ff0081;
}

span {
  color: #F0A4D7;
}

.cm-s-monokai span.cm-number {
  color: #56ff63;
}


/*BOOK*/

.book__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -130px 0 0 -100px;
}

.book, 
.book__right, 
.book__title,
.book__line,
.book__author---name,
.bookmark---cut
 {
        webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
      transform: translate(0,0);
     -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.book{
    width: 200px;
    height: 260px;
    background: #0D7DC0;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 6px 9px rgba(0,0,0,.3);
    cursor: pointer;
}

.book__right{
    position: absolute;
    height: 100%;
    width: 160px;
    top: 0;
    right: 0;
    border-radius: 0px 10px 10px 0;
    background-color: #09ABF4;
    z-index: 1;
    border-left: 1px solid rgb(12, 181, 255);
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.2);
}

.book__title{
    position: absolute;
    height: 25px;
    width: 80px;
    border-radius: 2px;
    background-color: #0D7DC0;
    top: 35px;
    left: 80px;
    z-index: 1;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.book__author---name{
    position: absolute;
    height: 25px;
    width: 60px;
    border-radius: 2px;
    background-color: #0D7DC0;
    top: 70px;
    left: 90px;
    z-index: 1;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.book__bookmark{
    position: absolute;
    background-color: #fff;
    height: 110px;
    width: 45px;
    top: 0;
    right: 35px;
    z-index: 2;
    box-shadow: rgb(8, 157, 224) 1px 1px,
    rgb(8, 157, 224) 2px 2px,
    rgb(8, 157, 224) 3px 3px,
    rgb(8, 157, 224) 4px 4px,
    rgb(8, 157, 224) 5px 5px,
    rgb(8, 157, 224) 6px 6px,
    rgb(8, 157, 224) 7px 7px,
    rgb(8, 157, 224) 8px 8px,
    rgb(8, 158, 225) 9px 9px,
    rgb(8, 158, 226) 10px 10px,
    rgb(8, 159, 226) 11px 11px,
    rgb(8, 159, 227) 12px 12px,
    rgb(8, 160, 228) 13px 13px,
    rgb(8, 160, 229) 14px 14px,
    rgb(8, 161, 229) 15px 15px,
    rgb(8, 161, 230) 16px 16px,
    rgb(8, 162, 231) 17px 17px,
    rgb(8, 162, 231) 18px 18px,
    rgb(8, 163, 232) 19px 19px,
    rgb(8, 163, 233) 20px 20px,
    rgb(8, 164, 234) 21px 21px,
    rgb(8, 164, 234) 22px 22px,
    rgb(8, 165, 235) 23px 23px,
    rgb(8, 165, 236) 24px 24px,
    rgb(8, 166, 236) 25px 25px,
    rgb(8, 166, 237) 26px 26px,
    rgb(8, 167, 238) 27px 27px,
    rgb(8, 167, 239) 28px 28px,
    rgb(8, 168, 239) 29px 29px,
    rgb(8, 168, 240) 30px 30px,
    rgb(8, 169, 241) 31px 31px,
    rgb(8, 169, 241) 32px 32px,
    rgb(8, 170, 242) 33px 33px,
    rgb(8, 170, 243) 34px 34px,
    rgb(9, 171, 244) 35px 35px;
}
.bookmark---cut{
    height: 0;
    width: 0;
    background-color: #FFFFFF;
    position: relative;
    top: 60%;
    border-left: 22px solid rgba(102, 102, 102, 0);
    border-right: 23px solid rgba(102, 102, 102, 0);
    border-top: 24px solid rgba(102, 102, 102, 0);
    border-bottom: 20px solid rgb(8, 157, 224);
}