@charset "UTF-8";
/* CSS Document

                                                                
@@@@@@@   @@@  @@@@@@@   @@@@@@@  @@@  @@@  @@@@@@@@   @@@@@@   
@@@@@@@@  @@@  @@@@@@@  @@@@@@@@  @@@  @@@  @@@@@@@@  @@@@@@@   
@@!  @@@  @@!    @@!    !@@       @@!  @@@  @@!       !@@       
!@   @!@  !@!    !@!    !@!       !@!  @!@  !@!       !@!       
@!@!@!@   !!@    @!!    !@!       @!@!@!@!  @!!!:!    !!@@!!    
!!!@!!!!  !!!    !!!    !!!       !!!@!!!!  !!!!!:     !!@!!!   
!!:  !!!  !!:    !!:    :!!       !!:  !!!  !!:            !:!  
:!:  !:!  :!:    :!:    :!:       :!:  !:!  :!:           !:!   
 :: ::::   ::     ::     ::: :::  ::   :::   :: ::::  :::: ::   
:: : ::   :       :      :: :: :   :   : :  : :: ::   :: : :    
                                                                
                                                        
@@@@@@@              @@@       @@@  @@@  @@@  @@@@@@@@  
@@@@@@@@             @@@       @@@  @@@  @@@  @@@@@@@@  
@@!  @@@             @@!       @@!  @@!  !@@  @@!       
!@   @!@             !@!       !@!  !@!  @!!  !@!       
@!@!@!@   @!@!@!@!@  @!!       !!@  @!@@!@!   @!!!:!    
!!!@!!!!  !!!@!@!!!  !!!       !!!  !!@!!!    !!!!!:    
!!:  !!!             !!:       !!:  !!: :!!   !!:       
:!:  !:!              :!:      :!:  :!:  !:!  :!:       
 :: ::::              :: ::::   ::   ::  :::   :: ::::  
:: : ::              : :: : :  :     :   :::  : :: ::   
                                                        
                                                        
                                                        
tite: Biches b-like
for CLOAQUE.ORG
Author: Miyö Van Stenis
http://miyovanstenis.com
@miyovansteniss
 */

html, body{
	width: 960px;
	height: 679px
	background-image:url(../../jpg/post4.png);;
}

.container {
	width: 960px;
	height: 679px;
		}
	
	.container1 {
	width: 960px;
	height: 679px;
	}