/*

 __  __ _              __     __            ____  _             _     
|  \/  (_)_   _  ___   \ \   / /_ _ _ __   / ___|| |_ ___ _ __ (_)___ 
| |\/| | | | | |/ _ \   \ \ / / _` | '_ \  \___ \| __/ _ \ '_ \| / __|
| |  | | | |_| | (_) |   \ V / (_| | | | |  ___) | ||  __/ | | | \__ \
|_|  |_|_|\__, |\___/     \_/ \__,_|_| |_| |____/ \__\___|_| |_|_|___/
          |___/                                                       

TOTALLY NOT A VIRUS. TRUST ME, I'M A DOLPHIN 
  WWW, 2013
  Collector Edition 3/5 - JoDi (Joan Heemskerk & Dirk Paesmans).

 made with <3 by Miyö Van Stenis - miyovanstenis.com
          
****Size errors can be solved reloading the browser****
 */


@charset "UTF-8";

body{
	background-image:url(1.png);
	background-color:#B9B9BD;
	background-repeat:no-repeat;
	background-size:cover;
	height:1506px;
	width:100%;
	margin:0;
	}
	
#ocean{
  position:absolute;
  width:100%;
  min-height:100%;
 }

.wave{
  background:#a8e3ff;
  display:inline-block;
  height:40%;
  width:100px;
  position:absolute;
  -webkit-animation-name:             dostuff; 
  -webkit-animation-duration:         3s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: ease-in-out;
}

@-webkit-keyframes dostuff{
  0%{
    height:60%;
  }
  50%{ 
    height:40%;
  }
  100%{ 
    height:60%;
  }
}

.icon {
	position:absolute;
	height:232px;
	width:329px;
	margin-top:300px;
	margin-left:550px;
	}
	
	.terminal{
	position:absolute;
	height:300px;
	width:400px;
	margin-top:500px;
	margin-left:780px;
	}

iframe {
	width:550px;
	height:400px;}

/*


██████████████████████████████████████████████████████████████████████████████████████████████████████████████
█░░░░░░░░░░░░███░░░░░░░░░░░░░░█░░░░░░█████████░░░░░░░░░░░░░░█░░░░░░██░░░░░░█░░░░░░░░░░█░░░░░░██████████░░░░░░█
█░░▄▀▄▀▄▀▄▀░░░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░█████████░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀▄▀▄▀░░█░░▄▀░░░░░░░░░░██░░▄▀░░█
█░░▄▀░░░░▄▀▄▀░░█░░▄▀░░░░░░▄▀░░█░░▄▀░░█████████░░▄▀░░░░░░▄▀░░█░░▄▀░░██░░▄▀░░█░░░░▄▀░░░░█░░▄▀▄▀▄▀▄▀▄▀░░██░░▄▀░░█
█░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀░░█████████░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░███░░▄▀░░███░░▄▀░░░░░░▄▀░░██░░▄▀░░█
█░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀░░█████████░░▄▀░░░░░░▄▀░░█░░▄▀░░░░░░▄▀░░███░░▄▀░░███░░▄▀░░██░░▄▀░░██░░▄▀░░█
█░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀░░█████████░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░███░░▄▀░░███░░▄▀░░██░░▄▀░░██░░▄▀░░█
█░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀░░█████████░░▄▀░░░░░░░░░░█░░▄▀░░░░░░▄▀░░███░░▄▀░░███░░▄▀░░██░░▄▀░░██░░▄▀░░█
█░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀░░█████████░░▄▀░░█████████░░▄▀░░██░░▄▀░░███░░▄▀░░███░░▄▀░░██░░▄▀░░░░░░▄▀░░█
█░░▄▀░░░░▄▀▄▀░░█░░▄▀░░░░░░▄▀░░█░░▄▀░░░░░░░░░░█░░▄▀░░█████████░░▄▀░░██░░▄▀░░█░░░░▄▀░░░░█░░▄▀░░██░░▄▀▄▀▄▀▄▀▄▀░░█
█░░▄▀▄▀▄▀▄▀░░░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░█████████░░▄▀░░██░░▄▀░░█░░▄▀▄▀▄▀░░█░░▄▀░░██░░░░░░░░░░▄▀░░█
█░░░░░░░░░░░░███░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░█████████░░░░░░██░░░░░░█░░░░░░░░░░█░░░░░░██████████░░░░░░█
██████████████████████████████████████████████████████████████████████████████████████████████████████████████

I'm a Dolphin

̱̗͚̱̹͙͙̌͆ͫ

*/
