/*ICONS FROM https://css.gg/ */

 @keyframes spinner-two {
 0% {transform: rotate(0deg)}
 to {transform: rotate(359deg)}
}

.gg-spinner-two {
 transform: scale(var(--ggs,1));
 box-sizing: border-box;
 position: relative;
 display: block;
 width: 20px;
 height: 20px
}

.gg-spinner-two::after,
.gg-spinner-two::before {
 box-sizing: border-box;
 display: block;
 width: 20px;
 height: 20px;
 content: "";
 position: absolute;
 border-radius: 100px
}

.gg-spinner-two::before {
 animation: spinner-two 1s cubic-bezier(.6,0,.4,1) infinite;
 border: 3px solid transparent;
 border-bottom-color: currentColor;
 border-top-color: currentColor
}

.gg-spinner-two::after {
 border: 3px solid;
 opacity: .2
} 

.gg-terminal {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 24px;
    height: 20px;
    border: 2px solid;
    border-radius: 2px
}
.gg-terminal::after,
.gg-terminal::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-terminal::before {
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    width: 6px;
    height: 6px;
    top: 5px;
    left: 3px
}
.gg-terminal::after {
    width: 4px;
    height: 2px;
    background: currentColor;
    top: 10px;
    left: 11px
}


/*</>*/
 .gg-code-slash {
 display: block;
 position: relative;
 box-sizing: border-box;
 transform: rotate(15deg) scale(var(--ggs,1));
 width: 2px;
 height: 16px;
 background: currentColor
}

.gg-code-slash::after,
.gg-code-slash::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 8px;
 height: 8px;
 transform: rotate(-60deg)
}

.gg-code-slash::before {
 border-left: 2px solid;
 border-top: 2px solid;
 left: -8px;
 top: 5px
}

.gg-code-slash::after {
 border-right: 2px solid;
 border-bottom: 2px solid;
 right: -8px;
 top: 3px
} 


/*<>*/
 .gg-code {
 transform: scale(var(--ggs,1))
}

.gg-code,
.gg-code::after,
.gg-code::before {
 box-sizing: border-box;
 position: relative;
 display: block;
 width: 8px;
 height: 20px
}

.gg-code::after,
.gg-code::before {
 content: "";
 position: absolute;
 height: 8px;
 border-left: 2px solid;
 border-bottom: 2px solid;
 transform: rotate(45deg) scaleY(1);
 left: -4px;
 top: 6px
}

.gg-code::after {
 transform: rotate(-45deg) scaleX(-1);
 left: 4px
} 

/*IG*/

.gg-instagram {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    width: 20px;
    height: 20px
}
.gg-instagram::after,
.gg-instagram::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-instagram::after {
    border: 2px solid;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 3px
}
.gg-instagram::before {
    border-radius: 3px;
    width: 2px;
    height: 2px;
    background: currentColor;
    right: 1px;
    top: 1px
}

.gg-twitter {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 20px
}
.gg-twitter::after,
.gg-twitter::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 4px
}
.gg-twitter::before {
    width: 9px;
    height: 14px;
    border-left: 4px solid;
    border-bottom: 4px solid;
    border-bottom-left-radius: 6px;
    background:
        linear-gradient(
            to left,currentColor 12px,transparent 0)
            no-repeat center 2px/10px 4px;
    top: 4px
}
.gg-twitter::after {
    width: 4px;
    height: 4px;
    background: currentColor;
    border-radius: 20px;
    top: 2px;
    box-shadow: 7px 4px 0,7px 12px 0
}