#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_2 {
  background-image: url('../../images/[Generated] f94eabfe-f116-47ff-ae88-257f190bfb1f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 121px;
  height: 35px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_3 {
  background-image: url('../../images/[Generated] c8ad77a0-d5b5-4b50-990e-ae8bfb009c0b.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 121px;
  height: 35px;
}