#s-95679c40-c833-465c-affe-fb87afe6543b {
  background-color: transparent;
  min-width: 791px;
  min-height: 1465px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Group_1 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 380px;
  height: 753px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  height: 753px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Dynamic_Panel_1 {
  position: absolute;
  top: 133px;
  left: 31px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Panel_1 {
  width: 320px;
  height: 480px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Group_2 {
  position: absolute;
  top: 142px;
  left: 47px;
  width: 744px;
  height: 386px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 744px;
  height: 386px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Dynamic_Panel_2 {
  position: absolute;
  top: 29px;
  left: 132px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Panel_2 {
  width: 480px;
  height: 320px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Group_3 {
  position: absolute;
  top: 168px;
  left: 179px;
  width: 388px;
  height: 800px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 388px;
  height: 800px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Dynamic_Panel_3 {
  position: absolute;
  top: 116px;
  left: 36px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Panel_3 {
  width: 320px;
  height: 568px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Group_4 {
  position: absolute;
  top: 0px;
  left: 6px;
  width: 801px;
  height: 382px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 801px;
  height: 382px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Dynamic_Panel_4 {
  position: absolute;
  top: 33px;
  left: 114px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Panel_4 {
  width: 568px;
  height: 320px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Group_5 {
  position: absolute;
  top: 0px;
  left: 4px;
  width: 380px;
  height: 753px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  height: 753px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Dynamic_Panel_5 {
  position: absolute;
  top: 133px;
  left: 31px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Panel_5 {
  width: 320px;
  height: 480px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Group_6 {
  position: absolute;
  top: 4px;
  left: 1px;
  width: 744px;
  height: 386px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 744px;
  height: 386px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Dynamic_Panel_6 {
  position: absolute;
  top: 29px;
  left: 132px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Panel_6 {
  width: 480px;
  height: 320px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Group_7 {
  position: absolute;
  top: 665px;
  left: 212px;
  width: 388px;
  height: 800px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 388px;
  height: 800px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Dynamic_Panel_7 {
  position: absolute;
  top: 116px;
  left: 36px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Panel_7 {
  width: 320px;
  height: 568px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Group_8 {
  position: absolute;
  top: 10px;
  left: 4px;
  width: 801px;
  height: 382px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 801px;
  height: 382px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Dynamic_Panel_8 {
  position: absolute;
  top: 33px;
  left: 114px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Panel_8 {
  width: 568px;
  height: 320px;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_13 {
  position: absolute;
  top: 89px;
  left: -8px;
  width: 380px;
  height: 753px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Group_10 {
  position: absolute;
  top: 391px;
  left: 39px;
  width: 276px;
  height: 165px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Group_11 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 276px;
  height: 165px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 276px;
  height: 31px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_17 {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 276px;
  height: 110px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_18 {
  position: absolute;
  top: 141px;
  left: 0px;
  width: 276px;
  height: 24px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Label_1 {
  position: absolute;
  top: 14px;
  left: 11px;
  width: 254px;
  height: 22px;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: bold;
  line-height: 14pt;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Label_1 .valign {
  vertical-align: middle;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_1 {
  position: absolute;
  top: 36px;
  left: 18px;
  width: 240px;
  height: 58px;
  background-color: transparent;
  font-size: 12pt;
  font-family: Arial;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_2 {
  position: absolute;
  top: 104px;
  left: 141px;
  width: 119px;
  height: 33px;
  background-color: transparent;
  background-image: url('../../images/33967a1e-f6bf-436c-8fc8-aba90d3f06ab.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_3 {
  position: absolute;
  top: 104px;
  left: 8px;
  width: 119px;
  height: 33px;
  background-color: transparent;
  background-image: url('../../images/15959e17-c6e4-4f04-9cb9-61e7350efb19.png');
  background-repeat: repeat-x;
  background-position: top left;
  background-attachment: scroll;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  cursor: pointer;
  font-size: 12pt;
  font-family: Arial;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_19 {
  position: absolute;
  top: 369px;
  left: 42px;
  width: 30px;
  height: 38px;
}
#s-95679c40-c833-465c-affe-fb87afe6543b #s-Image_20 {
  position: absolute;
  top: 1150px;
  left: 543px;
  width: 30px;
  height: 38px;
}