#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  background-image: url('../../images/[Generated] a0190b96-1e20-439c-8ab7-3f641918535b.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 80px;
  height: 25px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_4 {
  background-image: url('../../images/[Generated] 7164c1ca-e890-459d-9a01-b72c68258b9f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 64px;
  height: 25px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_7 {
  background-image: url('../../images/[Generated] ba30842d-d8c0-4650-ada5-32e7c4111ac6.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 161px;
  height: 13px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_8 {
  background-image: url('../../images/[Generated] 3fd13370-fe15-43e7-9448-d93b9e5ee425.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 166px;
  height: 24px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_5 {
  background-image: url('../../images/[Generated] d0f4962c-2044-4332-b4cd-0d64490a2b15.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 74px;
  height: 25px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 {
  background-image: url('../../images/[Generated] 2eace728-089a-4844-8b8f-3c9e5463e1e5.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 194px;
  height: 25px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_3 {
  background-image: url('../../images/[Generated] 84e00d50-9662-453b-b80c-13d137796cbd.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 78px;
  height: 25px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_42 {
  background-image: url('../../images/[Generated] 4d39989f-91a8-4727-8685-8824341e6d7f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 45px;
  height: 14px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_43 {
  background-image: url('../../images/[Generated] b0c34c41-1652-413c-8d3c-8237c565cacd.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 100px;
  height: 20px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_44 {
  background-image: url('../../images/[Generated] 39d8fdfa-4d98-442e-8d28-3775b3accb2d.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 68px;
  height: 18px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_45 {
  background-image: url('../../images/[Generated] e1d185e0-e35a-462c-8dd2-66832a202d1b.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 57px;
  height: 14px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_13 {
  background-image: url('../../images/[Generated] dc3a0923-940e-49d0-ae00-279dfdb2ac7f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 17px;
  height: 7px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_78 {
  background-image: url('../../images/[Generated] 0ff9a426-3f17-4407-b661-5e1ad3bfed10.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 45px;
  height: 22px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Blue_button {
  background-image: url('../../images/[Generated] 69c48504-b8ad-4ba7-a2e0-ed00927a4af8.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 71px;
  height: 25px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_1 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-unchecked_1 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_2 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-unchecked_2 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_3 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-unchecked_3 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-unchecked_4 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_4 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-state_on > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-state_off > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_10 {
  background-image: url('../../images/[Generated] 13bcd261-cfc4-4ef4-b59c-f2d7fb63d020.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 13px;
  width: 133px;
  height: 22px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Revolution {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=56);
  filter: alpha(opacity=56);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Revolution-options {
  background-color: transparent;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=56);
  filter: alpha(opacity=56);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Thread {
  background-image: url('../../images/[Generated] 93a8e463-1a5e-4407-b210-66cc446ad418.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 14px;
  height: 14px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_7 {
  background-image: url('../../images/[Generated] 7656d7d2-4d6d-4502-87eb-f7ba4f9e4294.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 16px;
  width: 74px;
  height: 25px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_11 {
  background-image: url('../../images/[Generated] d4833c7a-a347-4352-87ef-4d2556b49ced.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 0px;
  padding-left: 3px;
  width: 163px;
  height: 8px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_12 {
  background-image: url('../../images/[Generated] 4d4dba34-901e-4563-a702-0b02edf5b756.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 163px;
  height: 8px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_14 {
  background-image: url('../../images/[Generated] b947e479-5d54-41ac-91ac-1559280aed49.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 256px;
  height: 37px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_85 {
  background-image: url('../../images/[Generated] 0533a43b-b27f-4a90-9ae3-3dea83e977a6.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  width: 94px;
  height: 17px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Grey_s_button {
  background-image: url('../../images/[Generated] 1c0d929b-b9d5-4e53-b853-1e0a37f6f099.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 72px;
  height: 25px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Label_19 {
  background-image: url('../../images/[Generated] 57c209aa-660b-47c9-81c4-010d2e5ab87e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 56px;
  height: 25px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_16 {
  background-image: url('../../images/[Generated] 0b7b678a-5996-452b-a228-5fb9fdc21f2d.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  width: 221px;
  height: 14px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_17 {
  background-image: url('../../images/[Generated] 7dd8d7e7-51ba-4f65-b437-7b1b65de431f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_18 {
  background-image: url('../../images/[Generated] ea20c7be-b531-4406-8090-d46849de82c4.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_19 {
  background-image: url('../../images/[Generated] c7444588-eac3-4c50-ab05-96c01a753713.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_20 {
  background-image: url('../../images/[Generated] 1e31a1cc-70ca-4096-bad2-96e9c1ae088e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_21 {
  background-image: url('../../images/[Generated] 0fbc8d33-6a9a-4bbb-869f-7d3602a35926.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_22 {
  background-image: url('../../images/[Generated] 36a1b45a-6ed8-4c09-be31-64824e22c59b.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_23 {
  background-image: url('../../images/[Generated] 6071f8b5-92e3-45b4-b846-457bca868d03.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_24 {
  background-image: url('../../images/[Generated] 016dff5d-301c-4ca6-98e3-d177b9947616.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_25 {
  background-image: url('../../images/[Generated] 13d65e25-6f54-486e-ac9e-0b811cacc90e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_26 {
  background-image: url('../../images/[Generated] 58642d52-2e83-4a5e-ae5e-e4f26e75ee3f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_27 {
  background-image: url('../../images/[Generated] fec547ba-3550-4359-ae07-c31fb487d8e8.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_28 {
  background-image: url('../../images/[Generated] 8d07796f-7683-4a21-ac54-09a3a0034932.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_30 {
  background-image: url('../../images/[Generated] 66104fb1-82b6-4327-94ea-67cf44c273fe.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_31 {
  background-image: url('../../images/[Generated] 9a3ff89d-bda2-4b54-8e62-f037541349ea.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_32 {
  background-image: url('../../images/[Generated] 8f4ffd5d-9ac8-4fca-ab39-482b07af3a34.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_33 {
  background-image: url('../../images/[Generated] 2b74d142-f17c-436f-9095-fef073a7ff3e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_34 {
  background-image: url('../../images/[Generated] 4cdf7a28-2950-48ae-ba85-a6352506cee0.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_35 {
  background-image: url('../../images/[Generated] 95fb65f7-0a45-4032-86b9-829ca860e455.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_36 {
  background-image: url('../../images/[Generated] 5b1043bd-122e-4f42-88d5-a7418763022f.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_37 {
  background-image: url('../../images/[Generated] ebeadbe3-6fc2-4796-9e01-66439f6f2ef7.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_40 {
  background-image: url('../../images/[Generated] 97df68b1-fc58-4fdc-bf60-6c13105df36e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 77px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_41 {
  background-image: url('../../images/[Generated] 8655654e-9e21-4bfb-9c75-6b1b711e7735.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 75px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_43 {
  background-image: url('../../images/[Generated] e016e799-489b-4a68-bbc1-2df54763b4f2.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 177px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_44 {
  background-image: url('../../images/[Generated] 0dc578e3-d949-447f-a6d0-d09a82fd1c16.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_42 {
  background-image: url('../../images/[Generated] f10ed81a-6fbe-464f-b041-78305b9a4e94.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 77px;
  height: 37px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_46 {
  background-image: url('../../images/[Generated] 1965c18a-eb14-4c6e-970b-58d12a23b1d9.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 63px;
  height: 29px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-unchecked_5 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_5 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_47 {
  background-image: url('../../images/[Generated] ef6ccf90-10dc-4897-a2f2-4b10c576b702.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_48 {
  background-image: url('../../images/[Generated] 4daa869a-4097-4a66-a6c3-efb9e13392b0.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_49 {
  background-image: url('../../images/[Generated] 73f4e9c9-7e86-4048-b661-fcb31b78d366.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_50 {
  background-image: url('../../images/[Generated] 67d1caa0-c606-40b9-84c0-aad063457521.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_51 {
  background-image: url('../../images/[Generated] 0b3ea947-4b42-45a8-9239-359f670169d8.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_52 {
  background-image: url('../../images/[Generated] 952e5b93-a334-4945-9778-561bcfff0e36.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_53 {
  background-image: url('../../images/[Generated] 78d40f40-8a32-42ec-a700-0d673d653c94.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_54 {
  background-image: url('../../images/[Generated] 1627aed5-1e84-4b38-9ae0-966c7b4545e6.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_55 {
  background-image: url('../../images/[Generated] f5d17aba-5713-40d0-8ae1-15301672689a.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 125px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_56 {
  background-image: url('../../images/[Generated] e0b462e7-a532-4356-990a-f320621f4c85.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 138px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_6 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_7 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_8 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_9 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_10 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_11 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_12 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_57 {
  background-image: url('../../images/[Generated] b794e02f-6c3e-41ca-b9f9-938b1c12be4d.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 177px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_58 {
  background-image: url('../../images/[Generated] 1d0ed32d-8017-4318-8df6-211d0442617c.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 4px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_60 {
  background-image: url('../../images/[Generated] 69d5f180-d3a7-4907-aff5-f682a466aa5e.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  background-color: transparent;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 63px;
  height: 29px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-unchecked_13 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-checked_13 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-on_1 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-off_1 > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-on > .valign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-off > .valign {
  vertical-align: top;
}