/* 
<!--
    __ __       _ ____        ____     __                __
   / //_/____  (_) __/__     /  _/____/ /___ _____  ____/ /
  / ,<  / __ \/ / /_/ _ \    / // ___/ / __ `/ __ \/ __  / 
 / /| |/ / / / / __/  __/  _/ /(__  ) / /_/ / / / / /_/ /  
/_/ |_/_/ /_/_/_/  \___/  /___/____/_/\__,_/_/ /_/\__,_/   
                                                           
Knife Island by Miyö Van Stenis, 2018
All rights reserved. Don't copy-cat me without ask bitch!
miyo@miyovanstenis.com
-->

*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
/* IE10+ */ 
background-image: -ms-linear-gradient(top right, #F9B293 0%, #75373A 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top right, #F9B293 0%, #75373A 100%);

/* Opera */ 
background-image: -o-linear-gradient(top right, #F9B293 0%, #75373A 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #F9B293), color-stop(100, #75373A));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top right, #F9B293 0%, #75373A 100%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom left, #F9B293 0%, #75373A 100%);
}

canvas {
  
}

button {
  display: none;
}
