#t-5f33fcfd-26ef-409c-a461-95e7e49e8bca {
  background-color: #FFFFFF;
  min-width: 0px;
  min-height: 0px;
}
#t-5f33fcfd-26ef-409c-a461-95e7e49e8bca #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}